<h2>Student List</h2>

<table border="1">
    {% csrf_token %}
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Course</th>
        <th>Semester</th>
        <th>Action</th>
         <th>Photo</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.course }}</td>
        <td>{{ student.semester }}</td>

        <td>
          <a href="{% url 'edit_student' student.id %}">Edit</a>
          <a href="{% url 'delete_student' student.id %}">Delete</a>
        </td>
        <td>
          
             {% if student.photo %}
                <img src="{{ student.photo.url }}"
                     width="80"
                     height="80"
                     alt="Photo">
               {% else %}
                  No Photo
         {% endif %}
</td>
    </tr>
    {% endfor %}
</table>
